*{    
	margin:0;
	padding:0;	
}
body{
	font-size: 12px;
	font-style: normal;
	font-family:arial,sans-serif;
    background: rgba(1,1,1,0.2);
}
.citrusWalletBox{
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	width:360px;
	height: 520px;
	background:#ffffff;
	box-shadow: 0 0px 50px 0px rgba(1, 1, 1, 0.3);
}
.myWallet,.eSignIn,.mSignIn,.signUp{
	height:100%;
	position:relative;
}
.eSignIn,.mSignIn,.signUp{
	background:#eeeeee;
}
.walletHeader{
	height:50px;
	background-color:#F9A323;
	position:relative;
	box-shadow: 0 2px 2px 0px rgba(1, 1, 1, 0.1);
}
.walletHeaderTxt{
    font-size: 16px;
    color: white;
    position: absolute;
    top: 18px; left: 0; bottom: 0; right: 0;
    text-align: center;
}
.citrusCashIconBox{
	text-align:center;
	padding: 20px 0 10px;
}
.citrusCashInfo{
	text-align:center;
}
.citrusCashInfo p{
	text-align:center;
	font-size:15px;
	font-weight:bold;
	margin-bottom: 2px;
	color:#4e4e4e;
}
.walletPhoneNumberBox{
	margin-top:40px;
}
.walletEmailNumberBox,.eOtpInputBox,.eCitrusPasswordInputBox,.mOtpInputBox,.mCitrusPasswordInputBox,.signUpMOtpInputBox{
	margin-top:20px;
}
.walletPhoneNumberInputBox,.walletEmailNumberInputBox,.eOtpInputInnerBox,.eCitrusPasswordInputInnerBox,.mOtpInputInnerBox,.mCitrusPasswordInputInnerBox,.signUpMOtpInputInnerBox{
	margin:0 auto;
	width:90%;
}
.walletPhoneNumberPlaceHolder,.walletEmailNumberPlaceHolder,.eOtpInputPlaceHolder,.eCitrusPasswordPlaceHolder,.mOtpInputPlaceHolder,.mCitrusPasswordPlaceHolder,.signUpMOtpInputPlaceHolder{
	font-size:12px;
	color:#989898;
	font-weight:bold;
}
.InputBoxHeight,.eOtpInputBoxHeight,.eCitrusPasswordInputBoxHeight,.mOtpInputBoxHeight,.mCitrusPasswordInputBoxHeight,.signUpMOtpInputBoxHeight{
	height:37px;	
	position:relative;
}
.eCitrusPasswordInputBoxHeight,.mCitrusPasswordInputBoxHeight{
	margin-bottom: 10px;
}
.walletPhoneNumberInput,.walletEmailNumberInput,.eOtpInput,.eCitrusPasswordInput,.mOtpInput,.mCitrusPasswordInput,.signUpMOtpInput{
	width:100%;
	height:35px;
	font-weight:bold;
	color: #4e4e4e;
	font-size:15px;
	border:0;
	outline:0;	
	line-height:40px;
	border-bottom:1px solid #dbdbdb;
}
.walletPhoneNumberInput:focus,.walletEmailNumberInput:focus,.eOtpInput:focus,.eCitrusPasswordInput:focus,.mOtpInput:focus,.mCitrusPasswordInput:focus,.signUpMOtpInput:focus{
	border:0;
	outline:0;
	border-bottom:2px solid #9BD3F3;
}
.poweredByCitrusBox{
	width:100%;
	position:absolute;
	text-align:center;
	bottom:80px;
}
.poweredByCitrusIcon{
	width:90px;
}
.tac{
	font-size:10px;
	color: #4e4e4e;
}
.buttonBox{
	text-align:center;
	position:absolute;
	width:100%;
	bottom:10px;
}
.walletButton{
	margin:0 auto;
	width:90%;
	padding: 10px 0;
	outline:0;
	border:0;
	background:#F9A323;
	color:white;
	border-radius: 3px;
	box-shadow: 0 2px 1px 0px rgba(1, 1, 1, 0.2);
}
.eSignInMsgBox,.mSignInMsgBox,.SignUpMsgBox{
	background-color:white;
	box-shadow: 0 2px 1px 0px rgba(1, 1, 1, 0.1);
	position:relative;
}
.eSignInMsg,.mSignInMsg,.SignUpMsg{
	margin:0 auto;
	width:90%;
	padding:15px 0;
	font-size: 14px;	
	color:#4e4e4e;
	font-weight: bold;
}
.eSignInE,.mSignInM{
	margin:0 auto;
	width:90%;	
	font-size: 16px;	
	color:#4e4e4e;
	font-weight:bold;
}
.eSignInM,.mSignInE{
	margin:0 auto;
	width:90%;	
	font-size: 12px;	
	color:#989898;
	font-weight:bold;
	padding-bottom:15px;
}
.SignUpM,.SignUpE{
	margin:0 auto;
	width:90%;	
	font-size: 12px;	
	color:#989898;
	font-weight:bold;
}
.SignUpE{
	padding-bottom:15px;
}
.eOtpBox,.mOtpBox,.signUpOtpBox{
	margin:9px auto;
	width:95%;
	box-shadow: 0 1px 2px 1px rgba(1, 1, 1, 0.1);
	background:white;
	padding:1px 0;
}
.eOtpMsg,.mOtpMsg,.signUpMOtpMsg{
	color:#B3B3B3;
	padding:10px 0 0;
}
.signUpMOtpMsg{
	margin-bottom:15px;
}
.or{
	padding:20px;
	font-size: 14px;	
	color:#4e4e4e;
	font-weight:bold;
	text-align:center;
}
.ReSendOtp{
	position:absolute;
	right:0px;
	bottom: 11px;
	font-weight: bold;
	color:#F9A323;
}
.changeBtn{
    position: absolute;
    right: 20px;
    bottom: 15px;
    outline: 0;
    border: 0;
    background: white;
    color: #595959;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px rgba(1, 1, 1, 0.1);
    font-size: 11px;
    padding: 10px 15px;
}
@media screen and (max-width: 750px){
	.citrusWalletBox{
		margin:0;
		top:0;
		width:100%;	
	}
}