*{    
	margin:0;
	padding:0;	
}
body{
	font-size: 12px;
	font-style: normal;
	font-family: Verdana, Geneva, sans-serif;
	background-color: rgba(250, 250, 250, 1);
	color:#8B8B8B;
}
.commanBgColor{
	/* background-color: #FAFAFA; */
	background-color: white;
	color: #999999;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
}
.commanFontColor{
	color:#f7941e;
}
.checkOutBody{
	width: 650px;
	margin: 0 auto;	
}
.banner{
	width: 100%;
	height: 50px;
	background-image: url('../images/citrusBanner.gif');
	background-size: cover;
	box-shadow: 0px 0px 1px #c8c8c8;
	position: relative;
	behavior: url('css/PIE.htc');
}
/* `````````````````````````box```````````````````````` */
.boxMaintainer{
	margin:13px 0;
	width:100%;
	background-color:white;
	box-shadow: 0px 0px 1px #c8c8c8;
	behavior: url('css/PIE.htc');
}
.boxTitle{
	width:100%;		
}
.boxTitleTxt{
	position:relative;
	width:100%;
	text-indent:15px;
	font-size:14px;
	font-weight:bold;
	padding: 4px 0;
}
.boxTitleEdit{
	position: absolute;
	right: 10px;
}
.edit{
	font-size: 12px;
	cursor: pointer;
}
.edit:hover{
	color:#f4f4f4;
}
.fa-pencil{
	margin-right: 8px;
}

/* `````````````````````````Go Back ```````````````````````` */
.goBackToSection{
	text-align: center;
	margin-top: 10px
}
.goBackBox{
	font-size: 13px;
	padding:3px 10px;
	border: 1px solid #E4E4E4;
	background: white;
	display:inline-block;
    text-align: center;
    border-radius: 15px 0 15px 0;
    cursor: pointer;
	behavior: url('css/PIE.htc');
}
.goBackBox label{	
    margin-right: 5px;
	cursor: pointer;
}
.goBackBox:hover >i, .goBackBox:hover > label > span{
	color:#f7941e;
}
.goBackBox i{	
    font-size: 15px;
}
/* `````````````````````````User Details ```````````````````````` */
.userDetailsSection{
	display:none;
	padding:5px 0;
}
.userDetailsBlock{
	width: 92%;
	margin: 0 4%;
}
.userDetails{
	font-size: 13px;
	padding: 4px 0;
	display: inline-block;
}
.userDetailsLabel{
	margin:0 5px;
	font-weight:bold;
}
.ViewMoreDetails{
	width: 92%;
	margin: 0 4%;
	font-size:12px;
	text-align: center;
}

/* ````````````````````````` Tabs ```````````````````````` */
.checkoutMaintainer{
	width:100%;
	position:relative;
	border-radius: 4px;
	height: 63vh;
	behavior: url('css/PIE.htc');	
}
.checkoutUl{
	position:relative;
	text-align:center;
	width:100px;
	text-align:left;
}
.checkoutLi{
	list-style-type: none;
	display: inline-block;
}
.tabLabel{
	position:relative;
	width: 80px;
	padding: 15px 0 5px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin-right: 3px;
}
.tabSpan{
	display: block;
	text-align: center;
	font-size: 13px;
}
.cTabIcon{
	width: 15px;
	vertical-align: middle;
	margin-top: -3px;
	margin-right: 1px;
}
.itrusInTab{
	color: #f7941e;
}
.icon{
	display:none !important;
	margin-left:20px;
}
.triangle{
	display:none;
	position: absolute;
	bottom: 15px;
	left: 81px;
	width: 0px;
	height: 0px;
	border-style: solid;
	border-color: transparent rgba(250, 250, 250, 0.78) transparent transparent;
	border-width: 7.5px 15px 7.5px 0;
	line-height: 0px;
	_border-color: #000000;
	_filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
.space{
	display:block !important;
	padding:5px 0;
}
.checkoutContainerBox{
	width: 545%;
	height: 350px;
	position: absolute;
	left: 96%;
	top: 10px;
	text-align:center;
	border-radius: 12px;
	background-color: rgba(250, 250, 250, 0.78);
}

/* ````````````````````````````card````````````````````````` */
.cardContainerBox{
	width: 300px;    
	margin: 20px auto;
	background-color: #E8E8E8;
	border-radius: 10px;
	behavior: url('css/PIE.htc');
	padding: 10px 0;
	margin-bottom: 10px;
}
.cardNumberContainer{
	 display: inline-block;
	 width: 90%;
	 margin-bottom: 15px;
}
.cardNumberInput:focus, .cardExpiryMonthSelect:focus, .cardExpiryYearSelect:focus, .cardCvvInput:focus, .cardHolderInput:focus{
	border: 2px solid rgba(1,1,1,0.2);
	outline: 0;
}
.cardNumberInput{
	width: 100%;
	height: 29px;
	border: 0;
	border: none;
	border: 2px solid rgba(1,1,1,0.1);
	border-radius: 5px;
	text-indent: 10px;
}
.cardExpiryCvvContainer{
	 display: inline-block;
	 width: 90%;
	 margin-bottom: 15px;
	 position: relative;
	 height: 30px	
}
.cardExpiryMonthSelect{
	width: 50px;
	border: 2px solid rgba(1,1,1,0.1);
	color: rgb(182, 182, 182);
	padding: 6px 0;
	border-radius: 10px 0 0 10px;
	position: absolute;
	left: 2px;	
}
.cardExpiryYearSelect{
	width: 65px;
	border: 2px solid rgba(1,1,1,0.1);
	color: rgb(182, 182, 182);
	padding: 6px 0;
	border-radius: 0 10px 10px 0;
	margin-left: -2px;
	outline: 0;
	position: absolute;
	left: 52px;	
}
.cardCvvIcon{	
	display: inline-block;
	height: 25px;
	width: 46px;    
	background-image: url('../images/icon-cvc.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;    
	-moz-background-size: cover;    
	-o-background-size: cover;    
	background-size: 40px;
	position: absolute;
	top: 3px;
	margin-left: 15px;
	background-position: center;
}
.cardCvvInput{
	width: 25%;
	height: 30px;
	border: 0;
	border: none;
	border: 2px solid rgba(1,1,1,0.1);
	border-radius: 5px;
	position: absolute;
	right: -1px;
	text-align: center;
}
.cardHolderContainerBox{
	display: inline-block;
	width: 90%;
	margin-bottom: 10px;
}
.cardHolderInput{
	width: 100%;
	height: 30px;
	border: 0;
	border: none;
	border: 2px solid rgba(1,1,1,0.1);
	border-radius: 5px;
	text-indent: 10px;
}
.buttonContainerBox{
	display: block;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
}
.emiButtonContainerBox{
	display: block;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
}
.EmiButtonContainerBoxCheck{
	display: block;
	width: 100%;
	margin-bottom: 15px;
	margin-top: 10px;
}
.cardTypeSelect{
	width: 160px;
	border: 2px solid rgba(1,1,1,0.1);
	color: rgb(182, 182, 182);
	padding: 6px 0;
	border-radius: 10px;
	outline: 0;
}
.errorInput{
	border:2px solid #ff9494;
}
.CheckoutPayButton{
	text-align: center;    
	width: 298px;    
	padding: 7px 0;    
	border: none;    
	border-radius: 5px;    
	color: white;    
	font-size: 16px;    
	cursor: pointer;    
	font-weight: normal;    
	display: inline-block;    
	background: -webkit-linear-gradient(#fdc942 ,#f75b04);    
	background: -o-linear-gradient(#fdc942 ,#f75b04);    
	background: -moz-linear-gradient(#fdc942 ,#f75b04);    
	background: linear-gradient(#fdc942 ,#f75b04);    
	background-color: orange;
}
.CheckoutPayButton:focus{
	outline:0;
}

/*````````````````````````````````` NB ````````````````````````````````*/
.NBsortcutContainerBox{
	text-align:left;
	padding-bottom: 18px;
	box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.1);
}
.NBsortcutBox{
	display: inline-block;
	background-color: white;
	width: 74px;
	height: 80px;
	margin-left: 12px;
	position: relative;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
}
#A, #B, #C, #D, #E, #F {
  opacity: 0;
  position: absolute;
  left: 0;
}
.NBsortcutLabel{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}
.NBsortcutLabel i{
	position: absolute;
	left: 32px;
	top: 0px;
	font-size: 15px;
	color: rgba(0,0,0,0.3);
}
.NBsortcutLabel .fa-dot-circle-o{
	color:orange;
	display:none;
}
.NBimg{
	position: absolute;
	display: inline-block;
	width: 50px;
	height: 50px;
	left: 20%;
	top: 28%;
	background-size: 50px;
	background-repeat: no-repeat;
}
.hdfc{background-image:url(../images/hdfcBank.png);}
.icici{background-image:url(../images/iciciBank.png);}
.sbi{background-image:url(../images/sbiBank.png);}
.bankofindia{background-image:url(../images/boiBank.png);}
.federal{background-image:url(../images/federalBank.png);}
.axis{background-image:url(../images/axisBank.png);}
.NBsortcutBox input[name="bankSortcut"]:checked +label.NBsortcutLabel i.fa-circle-o{
	display:none;
}
.NBsortcutBox input[name="bankSortcut"]:checked +label.NBsortcutLabel i.fa-dot-circle-o{
	display:block;
}
.NBselectBankBox{
	text-align: center;
	padding: 15px;
	margin-top: 10px;
}
.NBselectBankDropDown{
	width: 250px;    
	border: 2px solid rgba(1,1,1,0.1);    
	color: rgb(182, 182, 182);    
	padding: 6px 0;    
	border-radius: 10px;
	font-size: 13px;
}
.NBselectBankDropDown:focus{
	outline:0;
}
/*````````````````````````````````` EMI ````````````````````````````````*/

.EMIselectBankBox{
	text-align: center;
	margin-top: 10px;
}
.EMIselectBankDropDown {
	width: 150px;
	border: 2px solid rgba(1,1,1,0.1);
	color: rgb(182, 182, 182);
	padding: 6px 0;
	border-radius: 10px;
	font-size: 13px;
}
.EMIselectBankDropDown:focus{
	outline:0;
}
.EMIbankMsgOne{
	display:none;
	padding: 4px 0px;
	text-align: left;
	text-indent: 15px;
	position: relative;
	font-size: 13px;
	margin: 12px auto 0px;
	width: 98%;
	box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px 1px; 
	background-color: white;
}
.EMItbl{
	width: 98%;
	margin: 15px auto 0;
	display: none;
}
.EMItblHeader{background-color: rgb(232, 232, 232);}
.EMItblHeaderTr{
	display: inline-block;
	width: 20%;
	font-weight: bold;
	vertical-align: top;
	padding: 5px 0;
}
.EMItblTrBody{
	border-bottom: 1px solid rgb(232, 232, 232);
	display:block;
	width:100%;
	position:relative;
}
.EMItblTrBody:hover{
	background-color:white;
}
.EMItblTrBody:hover  .fa-circle-o{	
	color:#f7941e;
}
.EMItblTrBody .fa-circle-o{
	margin-left: -10px;
	padding: 5px 0;
}
.EMItblTrBody .fa-circle{
	display:none;
	margin-left: -10px;
	padding: 5px 0;
	color:#f7941e;
}
.EMItblTd{
	display: inline-block;
	width: 20%;
	vertical-align: top;
	padding: 5px 0;
}
.EMItblRadio{
	position:absolute;
	visibility:hidden;
	left:0px;
}
.EMIeditTbL{
	visibility:hidden;
	position: absolute;
	right: 10px;
	top: 5px;
	display: inline-block;
	color: #f7941e;
}

.emiCardContainerBox{
	width: 300px;    
	margin: 20px auto;
	background-color: #E8E8E8;
	border-radius: 10px;
	behavior: url('css/PIE.htc');
	padding: 10px 0;
	margin-bottom: 10px;
}
.EMItblRadio:checked + .EMItblTrBody{ background-color:white;}
.EMItblRadio:checked + .EMItblTrBody .fa-circle-o{ display:none;}
.EMItblRadio:checked + .EMItblTrBody .fa-circle{ display:inline-block;}
/*````````````````````````````````` Quick Pay ````````````````````````````````*/
.quickPay{
	display: inline-block;
	width: 298px;
	text-align: left;
	font-size: 13px;
	text-align: center;
}
.quickPay i{margin-right: 5px;}
.quickPay span{font-size: 12px;}
.backIcon{
	display:none;
}
.cIcon{
	display:none;
}
.checkoutMaintainer >ul >li > input[name="paymentMode"]{
	position:absolute;
	opacity:0;
	filter: alpha(opacity=0);
}
.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label{
	border-right:2px solid #f7941e;
}
.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label >span{
	color:#f7941e;
}
.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label >i{
	color:#f7941e;
	font-size: 17px;
}
.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label >.triangle{
	display:block;
}
.checkoutMaintainer >ul >li > input[name="paymentMode"]  ~ div{
	display:none;
}
.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked:not(:disabled)  ~ div{
	display:block;
}

/* ````````````````````````` Payments section ```````````````````````` */


@media screen and (max-width: 620px) {
    .checkOutBody{
		width: 100%;
	}
	.checkoutUl {
	  margin-top: 15px;
	  width: 100%;
	}
	.checkoutLi{
		display: block;
		width: 100%;
		margin-top: 5px;
	}
	.tabLabel{
		display: block;
		width: 100%;
		height:30px;
		text-align: left;
		border-radius: 10px;
		background-color:#F7F7F7;
		border-left-width:0px;
		-moz-box-shadow:    inset  0  0px 8px -8px #696868, 
							inset  0 -5px 8px -8px #696868;
		-webkit-box-shadow: inset  0  0px 8px -8px #696868, 
							inset  0 -5px 8px -8px #696868;
		 box-shadow:        inset  0  0px 8px -8px #696868, 
							inset  0 -5px 8px -8px #696868;
	}
	.tabSpan{
		display:inline-block;
		padding-top: 2px;
	}
	.icon{
		display:inline-block !important;;
	}
	.cIcon{
		margin-right: -3px;
		display:inline-block;
	}
	.cIcon img{
		vertical-align: middle;
		margin-top: -3px;
		width: 14px;
	}
	.viewIconSpace{
		margin-right: 5px;
		font-size: 15px;
	}
	.backIcon{
		display:none;
		position: absolute;
		left: 5px;
		margin-top: 5px;
		font-size: 14px;
	}
	.checkoutContainerBox{
		position:static;
		border-top-width: 0px;
		width: 100%;
		margin-top:0;
	}
	.checkoutMaintainer >ul >li > input[name="paymentMode"] +label{
		display:none
	}
	.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label{
		display:block;
		box-shadow: inset 0 0 0 0 #696868, 
					inset 0 0 0 0 #696868;
		border-bottom:0px solid #f7941e;
		background-color:white;
		text-align:center;
		border-radius:0px;
		padding: 0px 0 10px;
	}
	.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label >span{
		font-size: 16px;
	}
	.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label >span.backIcon{
		display:block;
	}
	.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label >.icon {
		margin-left: 0px;
	}
	.txtIndent{
		margin-left:15px;
	}
	.checkoutMaintainer{
		height:100vh;
		margin:0 auto;
		width:95%;
		background-color: white;
	}
	.checkoutMaintainer >ul >li > input[name="paymentMode"]:checked +label >.triangle {
	  display: none !important;
	}
	.cardContainerBox ,.emiCardContainerBox{
		margin: 0px auto;
	}
	.space{
		display:block !important;
		padding:10px 0;
	}
/* netBanking */
	.NBsortcutContainerBox {
		text-align: center;
	}
	.NBsortcutBox {
		width: 60px;
		height: 65px;
		margin-left: 12px;
	}
	.mobileHideBank{
		display:none;
	}
	.NBsortcutLabel i {
	  left: 25px;
	}
	.NBimg {
		width: 45px;
		height: 45px;
		left: 14%;
		top: 27%;
		background-size: 45px;
	}
}
@media screen and (max-width: 450px){
	.NBsortcutBox {
	  margin-left: 0px;
	}
}
@media screen and (max-width: 400px){
	.CheckoutPayButton {
		width: 255px;
	}
	.quickPay span {
		font-size: 10px;
	}
	.EMItbl {
		font-size: 11px;
	}
}

/*header section */
div.header{
display:none;
height: auto;
width: 570px;
border-bottom: none;
text-align: center;
}
div.header > div{
	width: 95%;
	padding-top: 14px;
	text-align:center;
}
div.header > div >table{
	margin:0px auto;
	text-align:left;
	font-family: tahoma;
	font-size: 13px;
}
div.header > div >table td{ 
	height: 40px;
	padding-left:5px;
	color:gray;
	/* vertical-align: middle; */
}
div.header > div >table td  p{
	margin:0px 0px 0px 0px;
}
div.header > div >table td input{
	text-indent: 10px;
	border: 2px solid #eeeeee;
	border-radius: 5px;
	border-color: #eeeeee;
	color: #999999;
	width:100%;
	height: 30px;
	font-family: tahoma;
	font-size: 14px;
}
div.header > div >table td select{
	border: 2px solid #eeeeee;
	border-radius: 7px;
	border-color: #eeeeee;
	color: #999999;
	margin: -5px;
	outline: 0;
	width: 102%;
	height: 35px;
	text-indent: 10px;
}
div.header > div >table td input:focus{
	border-color: #C8C8C8;
	outline: 0;
}
div.header > div >table tr td:first-child.paramName{
	text-align: right;
	padding-right: 18px;
	font-weight:bold;
}